.conteiner{
    display: flex;
    flex-direction: column;
    background-color:rgb(41, 41, 41);
    align-items: center;
    justify-content: center;
    color: #f5f5f5;
    width: 100vw;
}
.list{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width:650px) {
    .conteiner{
        width: 108vw;
        height: 35vh;
        
       
    }
}