@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
.conteiner{
    display: flex;
    flex-direction: column;
    background-color: rgb(41,41,41);
    color: #f5f5f5;
    font-family: Spartan;
    align-items: center;
    
}
.projetos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
}

.projeto{
    background-color: aliceblue;
    color: black;
    margin-right: 20px;
    padding: 10px;
}

.projeto img{
    height: auto;
    width: 25vw;

}


.projeto a {
    color: blue;
}
.projeto a:hover{
    color: rgb(41,41,41);
}