@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
.conteiner{
    display: flex;
    flex-direction: column;
    background-color: rgb(41,41,41);
    color: #f5f5f5;
    font-family: Spartan;
    height: 200vh;
    width: 100vw;
    align-items: center;
    
    
}
.projetos{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 20px;
    padding: 10px;
    height: 150vh;
}

.projeto{
    display: flex;
    justify-content: space-around;
    background-color: aliceblue;
    color: black;
    margin-right: 20px;
    padding: 10px;
    width: 90vw;
}

.projeto a {
    color: blue;
}
.projeto a:hover{
    color: rgb(41,41,41);
}
.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 600px) {
    .conteiner{
        width:108vw;
        height: 1750px;
    }
    .projeto{
        flex-direction: column;
    }
   
}