.firstContent{
    display: flex;
}


.imageHero1{
    background-image:  url('../public/images/desktop-image-hero-1.jpg');
}
.imageHero2{
    background-image:  url('../public/images/desktop-image-hero-2.jpg');
}
.imageHero3{
    background-image:  url('../public/images/desktop-image-hero-3.jpg');
}

#imageHero{
    height: 61vh;
    width: 60vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    
}

.header{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 40vw;
}

#logo{
    display: flex;
}

#list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 30vw;


    color: hsl(0, 0%, 100%);
    
}
#list p:hover{
    
    cursor: pointer;
    text-decoration:underline 2px solid white ; 
    color: hsl(0, 0%, 100%);
}

#hamburger{
    display: none;
}
#close{
    display: none;
}

.btnsHeader{
    display: none;
}
.btnHeader{
    cursor: pointer;
}
.shopNow *{
   margin: 5px;


}
#shopNowConteiner1{
    
    display: flex;
    flex-direction: column;
    width: 40vw;
    height: 40vh;
    font-family: Spartan;
    font-weight: 500;
   margin-left: 30px;
    
}

#shopNowConteiner2{
    
    display: none;
    flex-direction: column;
    width: 40vw;
    height: 40vh;
    font-family: Spartan;
    font-weight: 500;
    margin-left: 30px;
}
#shopNowConteiner3{
    
    display: none;
    flex-direction: column;
    width: 40vw;
    height: 40vh;
    font-family: Spartan;
    font-weight: 500;
    margin-left: 30px;
}
.shopNow p{
    color:  hsl(0, 0%, 63%);
}

#shopNowClick{
    margin-top: 10px;
    margin-bottom: 15px;
    font-size: 16px;
    margin-left: 10px;
    letter-spacing: 5px;

}
#shopNowClick:hover{
    cursor: pointer;
    color: hsl(0, 0%, 63%);
}

.btns{
    display: flex;
    margin: 0;
}
.btn{
    cursor: pointer;
    margin: 0;
    display: flex;
    height: 80px;
    width: 80px;
    background-color: black;
    align-items: center;
    justify-content: center;
    align-self: flex-end;
    justify-self: start;
    cursor: pointer;
}

.btn:hover{
    background-color: hsl(0, 0%, 63%);
}

.secondContent{
    display: flex;
}
#fisthAboutImg{
    background-image: url('../public/images/image-about-dark.jpg');
    width: 30vw;
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.about{
    width: 43vw;
    height: 40vh;
    margin: 10px;
    justify-content: center;
    font-family: Spartan;
}

.about h2{
    letter-spacing: 5px;
    font-family: Spartan;
    font-weight: 700;
}

.about p{
    margin: 5px;
    color: hsl(0, 0%, 63%);
}
#secondAboutImg{
    background-image: url('../public/images/image-about-light.jpg');
    width: 30vw;
    height: 40vh;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@media (max-width:840px) and (max-height:540px){
    .firstContent{
        flex-direction: column;
        
    }
    #imageHero{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100vh;
        width: 103vw;
        
    
        
    }

    .imageHero1{
        background-image:  url('../public/images/mobile-image-hero-1.jpg');
    }
    .imageHero2{
        background-image:  url('../public/images/mobile-image-hero-2.jpg');
    }
    .imageHero3{
        background-image:  url('../public/images/mobile-image-hero-3.jpg');
    }

    .header{
        width: 100%;
        
    }
    #hamburger{
        display:  flex ;
   }

    #list{
        position: relative;
        display: none;
        background-color: white;
        width:9900vw;
        height: 100px;
        justify-content: space-around;
        top: -10px;
        color: rgb(0, 0, 0);
        
        
    }

    #close{
        margin-left: 10px;
        
    }

    .btnsHeader{
        position: relative;
        display: flex;
        margin: 0;
        align-self: flex-end;
        
    }

    .btnHeader{
        margin: 0;
        display: flex;
        height: 80px;
        width: 80px;
        background-color: black;
        align-items: center;
        justify-content: center;
        
    }

    #shopNowConteiner1{
        height: 320px;
        width: 100vw;
    }
    #shopNowConteiner2{
        height: 320px;
        width: 100vw;
    }
    #shopNowConteiner3{
        height: 320px;
        width: 100vw;
    }

   
    .btns{
        display: none;
    
    }

    

    .secondContent{
        flex-direction: column;
    }

    #fisthAboutImg{
        width: 103%;
        height: 100vh;
    }

    .about{
        width: 100%;
        height: auto;
    }

    #secondAboutImg{
        width: 103%;
        height: 100vh;
    }
}

@media (max-width:600px){
    .firstContent{
        flex-direction: column;
        
    }
    #imageHero{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 60vh;
        width: 103vw;
        
    
        
    }

    .imageHero1{
        background-image:  url('../public/images/mobile-image-hero-1.jpg');
    }
    .imageHero2{
        background-image:  url('../public/images/mobile-image-hero-2.jpg');
    }
    .imageHero3{
        background-image:  url('../public/images/mobile-image-hero-3.jpg');
    }

    .header{
        width: 100%;
        
    }
    #hamburger{
        display:  flex ;
   }

    #list{
        position: relative;
        display: none;
        background-color: white;
        width:9900vw;
        height: 100px;
        justify-content: space-around;
        top: -10px;
        color: rgb(0, 0, 0);
        
        
    }

    #close{
        margin-left: 10px;
        
    }

    .btnsHeader{
        position: relative;
        display: flex;
        margin: 0;
        align-self: flex-end;
        
    }

    .btnHeader{
        margin: 0;
        display: flex;
        height: 80px;
        width: 80px;
        background-color: black;
        align-items: center;
        justify-content: center;
        
    }

    #shopNowConteiner1{
        height: 320px;
        width: 100vw;
        margin-left: 5px;
    }
    #shopNowConteiner2{
        height: 320px;
        width: 100vw;
        margin-left: 5px;
    }
    #shopNowConteiner3{
        height: 320px;
        width: 100vw;
        margin-left: 5px;
    }

    #shopNowClick{
        
    }

    .btns{
        display: none;
    
    }



    .secondContent{
        flex-direction: column;
    }

    #fisthAboutImg{
        width: 103%;
    }

    .about{
        width: 100%;
        height: auto;
    }

    #secondAboutImg{
        width: 103%;
    }
}